{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}

    <h1>All articles from article's table:</h1>

{#    {{ form_start(form) }}#}
{#        {{ form_row(form.searchField) }}#}
{#        <button type="submit" name="btnSearch" class="btn btn-primary d-inline-block">{{ button_label|default('Go') }}</button>#}
{#    {{ form_end(form) }}#}

    {% for article in articles %}
        <article>
            <h2>{{ loop.index }} / {{ article.title }} - Category: {{ article.category.name }}</h2>
            <p>{{ article.content }}</p>
            <a class="btn btn-outline-primary" href="{{ path('blog_show', { 'slug': "javascript-vs-php" }) }}">Read more... </a>
        </article>
        {% else %}
            Any article found
    {% endfor %}

    <a href="{{ path('app_index') }}">Back to Homepage</a>

{% endblock %}